@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-stadium bg-fixed bg-no-repeat bg-cover bg-center
}


*{
    @apply select-none appearance-none
}

h1{
    @apply font-semibold text-xl cursor-default
}

h2{
    @apply cursor-default
}

h3{
    @apply cursor-default
}

hr{
    @apply flex w-full
}

Link{
    @apply cursor-pointer
}

input{
	@apply p-1 outline-none focus:outline-none w-auto
}

.btnPrimary{
    @apply py-1 px-2 outline-none bg-blue-600 text-white rounded items-center justify-center
}

.btnSecondary{
    @apply py-1 px-2 outline-none bg-red-600 text-white rounded items-center justify-center
}

.inputSignUp{
    @apply bg-blue-900 rounded p-2 w-full placeholder:text-gray-300
}

select{
    @apply outline-none hover:outline-none
}